<div class="nav-wrapper">
    <div class="second-wrapper">
        <div class="logo">
            <a href="/food"><h3 style="font-weight: lighter;">Online Shopping</h3></a>
        </div>

        <div class="links">
            <ul>
                <li><a href="/food">All Items<i class="fa fa-home"></i></a></li>
                <li><a href="/cart">Cart<i class="fa fa-shopping-cart"></i></a></li>
                <li><a href="/about">About<i class="fa fa-info-circle"></i></a></li>
                <li><a href="/contact">Contact<i class="fa fa-phone"></i></a></li>
            </ul>
        </div>
    </div>
</div>