<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %> 

<body>
    <header>
        <%- include('./partials/nav') %> 
    </header>

    <br><br><br><br>

    <main>
        <h3 style="font-weight: lighter">Oops, page not found! :(</h3>
    </main>
    
    <%- include('./partials/footer') %>
</body>
</html>